aer==0.3.0
astroid==3.3.10
cffi==1.17.1
click==7.1.2
colorama==0.4.6
contourpy==1.3.1
cryptography==41.0.3
cycler==0.12.1
dill==0.3.9
execute==1.2
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.2
hadamard-transform==0.1.3
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mccabe==0.7.0
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.4
packaging==24.2
pbr==6.1.1
pillow==11.1.0
platformdirs==4.3.8
pluggy==1.5.0
psutil==7.0.0
pycparser==2.22
pylint==3.3.7
pyparsing==3.2.3
pytest==8.3.5
python-dateutil==2.9.0.post0
qiskit==2.0.0
qiskit-aer==0.17.0
qutip==5.1.1
rustworkx==0.16.0
scipy==1.15.2
setuptools==78.1.0
six==1.17.0
stevedore==5.4.1
symengine==0.13.0
sympy==1.13.1
tomlkit==0.13.3
torch==2.6.0
typing_extensions==4.13.1